.mainDiv {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
    color:white ;
    height: 80px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top:0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
}



.navlink{
    /* margin-top: 15px; */
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.navlinkItem:hover{
    box-shadow: rgba(219, 223, 223, 0.5) 0px 0px 0px 2px;
    background-color: rgba(219, 223, 223, 0.5);
}

.navlinkItem {
    padding: 13px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 24px;
    width: 48px;
    min-width: 60px;
    margin-right: 5px;
}



.search{
    min-width: 407px;
    width: 1100px;
    height: 48px;
    border-radius: 24px;
    background-color: rgb(238, 235, 235);
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-left: 20px;
    outline: none;
    z-index: 500;
}
.searchIcon {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.inputBox{
    min-width: 407px;
    width: 1100px;
    height: 46px;
    border-radius: 24px;
    background-color:transparent;
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    outline: none;
    text-indent: 10px;
}
.inputBox:focus {
    box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 4px;
    margin-left: 0px;
}
.inputBox:hover {
    background-color: #E1E1E1;
}
.search:hover{
    background-color: #E1E1E1;
}
.search:focus{
    box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 4px;
}

.notificationDiv, .chatDiv, .logoDiv,.profileDiv {
    width: 35px ;
    height: 35px;
    margin-left: 10px;
    /* margin-right: 5px; */
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    
}
.userDiv {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.notificationDiv:hover,.chatDiv:hover,.logoDiv:hover, .profileDiv:hover{
    background-color: rgb(238, 235, 235);
    cursor: pointer;
}



.notificationImage, .chatImage , .logo,.profileImage {
width: 25px;
height: 25px;
margin: 5px;

}
.user {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    }
