.notification_dropdown{
    flex-direction: column;
    height: 500px;
    width: 360px;
    box-shadow: rgb(0 0 0 / 10%) -3px 4px 14px 0px;
    overscroll-behavior: none;
    top: -30px;
    transition: top 100ms linear 0s;
    border-radius: 16px;
    justify-content: right;
    text-align: left;
    right: 25px;
    position: absolute;
    z-index: 50;
}