/* *{
    font-size: 62%;
} */


.heading{
    text-align: center;
    margin-top:5rem;
   
    /* color:red; */
   /* // font-size:10rem; */
}
.title_bh{
    margin-top:-1rem;
    font-size:1.1rem;
}
.card_container_bh{
   margin-top:3rem;
    display:grid;
    grid-template-columns: 28rem 28rem;
    grid-gap:1rem;
    justify-content: center;
    margin-bottom:5rem;
}
.lower_info_bh{
    /* border:1px solid green; */
    width:20rem;
    margin:auto;
   

}
.lower_info_bh button{
    border-radius:2rem;
   font-weight:800;
   height:2.5rem;
   border:none;
} 

.lower_info_bh img{
    width:2rem;
}

@media(max-width:998px){

    .heading{
        justify-content: center;
        margin-right:10rem;
        align-items: center;
    }
    .card_container_bh{
        margin-top:3rem;
        display:grid;
        grid-template-columns: 20rem 20rem;
        grid-gap:2rem;
        justify-content: center;
        margin-bottom:5rem;

    }
   
}

@media(max-width:768px){
   
}